.container-form{
  width: 100%;
}

.input-field{
  display: flex;
  flex-direction: column;
  width: 100%;
}  
 
.input{
  border-radius: 8px;
  padding: 2px 4px;
  
}
.widt-100{
  width: 100%;
}

.label,
.input{
  margin-top: 5px;
  margin-bottom: 5px;
}
