// form to create organisation

.container-form{
  width: 80%;
}

.input-field{
  display: flex;
  flex-direction: column;
  width: 100%;
}  
  

//   input{
//     border-radius: 10px;
//     padding: 8px 4px;

//   }

//   input[type="submit"]{
//     // background-color: green;
   
//   }


// }
.input{
  border-radius: 8px;
  padding: 2px 4px;
  // width: 100%;
}

.label,
.input{
  margin-top: 5px;
  margin-bottom: 5px;
}
