// styling organisation index page
// .organisation-container{
//   // width: 40%;
//   margin: 40px 0;
// }


.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}




table{
  width: 100%;
}


