

nav{
  padding: 16px 12px;
  background-color: green;
  color: white;
  p a,
  #logo{
    text-decoration: none;
    color: white;
  }

  p a:hover,
  #logo:hover{
    color: black;
    font-weight: bold;
  }
}